.footer {
  background-image: url('../images/mobile-footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 619px;
  background-position: center;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  @media screen and (min-width: $mobile) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/tablet-footer.jpg');
    width: 785px;
    height: 506px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    background-image: none;
    height: 395px;
    width: 1280px;
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/desk-footer.jpg');
    background-position: right bottom;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 677.98px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url('../images/mobile-footer@2x.jpg');
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: 1279.98px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url('../images/tablet-footer@2x.jpg');
    }
  }
}

@media screen and (min-width: $desktop) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .footer {
      background-image: url('../images/desk-footer@2x.jpg');
    }
  }
}

.footer__container {
  @media screen and (min-width: $tablet) {
    padding-top: 45px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.footer__logo {
  width: 69px;
  height: 51px;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    padding-left: 15px;
  }
}

@media screen and (min-width: $tablet) {
  .footer__nav-tablet {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (min-width: $desktop) {
      margin-bottom: 49px;
    }
  }
}

.footer__nav {
  @media screen and (max-width: 767.98px) {
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
  }
}

.footer__menu {
  @media screen and (max-width: 767.98px) {
    position: absolute;
    top: 4px;
    left: 150px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-left: 100px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 148px;
    margin-right: 320px;
  }
}

.footer__menu-item {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.footer__menu-link {
  transition: color 250ms var(--cubik);
  &:hover,
  &:focus {
    color: var(--button-green);
  }
}

.current {
  color: var(--button-green);
  text-decoration: underline;
}

.subscribe__content {
  margin-top: 153px;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-top: 35px;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $desktop) {
    align-items: end;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.subscribe__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.subscribe__input {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    width: 279px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    min-width: 279px;
  }
}

@media screen and (min-width: $tablet) {
  .content__tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }
}

.subscribe__btn {
  background-color: #ffffff;
  border: 0.854167px solid #7eb101;
  border-radius: 30px;
  margin-right: 0;
  margin-bottom: 20px;
  transition: background-color 250ms var(--cubik);

  &:hover,
  &:focus {
    background-color: var(--yellow-main);
  }

  @media screen and (min-width: $tablet) {
    margin-right: 341px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 0;
  }
}

.subscribe__agreement {
  font-size: 10px;
  line-height: 1.2;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
    margin-top: 12px;
  }
}

.subscribe__link {
  color: #7eb101;
}

@media screen and (min-width: $tablet) {
  .footer__add {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 100px;

    @media screen and (min-width: $desktop) {
      margin-top: 80px;
    }
  }
}

.additional__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.additional__link {
  font-size: 10px;
  line-height: 1.2;
  color: #7eb101;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.additional__text {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }
}
