@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: calc($lh/$fs);
}

.hero {
  position: relative;
  padding-bottom: 0;
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.hero .button__order {
  margin-top: 28px;

  @media screen and(max-width: $tablet) {
    display: block;
    margin-bottom: 50px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 526px;
    margin-top: 40px;
  }
}

.hero__container {
  // padding-top: 60px;
  // padding-bottom: 50px;
  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-bottom: 0;
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-top: 0;
    padding-bottom: 0;
    @include flex($jc: space-between);
  }
}

.hero__desc-block {
  @media screen and (min-width: $tablet) {
    width: 338px;
  }
  @media screen and (min-width: $desktop) {
    width: 510px;
  }
}
.hero__title {
  // margin-top: 60px;
  margin-bottom: 28px;
  color: var(--primary-text-color);
  @include font(28px, 700, 33px);

  @media screen and (min-width: $tablet) {
    @include font(42px, 700, 49px);
    min-width: 537px;
  }

  @media screen and (min-width: $desktop) {
    @include font(42px, 700, 50px);
    margin-top: 0;
  }
}

.hero__info {
  margin-bottom: 28px;
  color: var(--primary-text-color);
  @include font(14px, 400, 16px);

  @media screen and (min-width: $tablet) {
    @include font(16px, 400, 19px);
    max-width: 500px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

.hero__image-block {
  display: none;

  @media screen and (min-width: $tablet) {
    @include flex;
    width: 320px;
    height: 320px;

    margin-top: 80px;
    margin-left: auto;
    background-color: #fff;
    border-radius: 50%;
    border: 13px solid;
    border-color: var(--yellow-main);
  }

  @media screen and (min-width: $desktop) {
    width: 580px;
    height: 580px;
    margin-right: 14px;
    margin-top: 14px;

    border: 25px solid;
    border-color: var(--yellow-main);
  }

  &:hover,
  &:focus {
    border-color: var(--button-green);
  }

  transition: border-color 250ms var(--cubic);
}

.hero__image {
  @media screen and (min-width: $desktop) {
    width: 528px;
    height: 528px;
  }
}
