.subscribe__conteiner{
    width: 100%;
}
.banan{
    justify-content: center;
    display: flex;
    margin-bottom: 17px;
    @media screen and (min-width: $tablet) {
       justify-content:end;
      }
     
}
.banan__img{
    width: 280px;
}
.subscribe__conteiner{
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
       }
}
.subcribe-conten__title{
    @extend %title;
    @media screen and(max-width:$tablet){
        display: flex;
        text-align: start;
    }
}
.subcribe-conten__text{
    margin-bottom: 40px;
    @extend %title;
    display: flex;
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    @media screen and(min-width:$tablet){
       flex-direction: row;
    }
}
.form__input{
    border: 0.854167px solid var(--yellow-main);
    border-radius: 30px;
    padding: 12px 11px;
    width: 100%;
    @media screen and(min-width:$tablet){
        width: 394px;
     }
  }
  .form__button{
    display: flex;
    justify-content: end;
    @extend %button;
    background-color: var(--button-green);
  
  }
  .form__button :focus{
    background-color: var(--dark-green);
  }