<section class="castomerSay section">
    <div class="castomer container">
        <h2 class="castomer__title">What our Customers Say</h2>
        <p class="castomer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="feedback">
            <li class=" feedback__item list">
                <div class="feedback__rating">
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                </div>
                <p class="feedback__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”
                </p>
                <div class="feedback__dude">
                    <picture>
                        <source srcset="./images/customers-desctop/dude-desctop1-1x.png 1x, ./images/customers-desctop/dude-desctop1-2x.png 2x"
                        media="(min-width: 1200px)">
                        <source srcset="./images/customers-tablet/dude-tablet1-1x.png 1x, ./images/customers-tablet/dude-tablet1-2x.png 2x"
                        media="(min-width: 768px)">
                        <source srcset="./images/customers-mobile/dude-mobile1-1x.png 1x, ./images/customers-mobile/dude-mobile1-2x.png 2x"
                        media="(min-width: 320px)">
                    <img class=" feedback__img" src="./images/customers-mobile/dude-mobile1-1x.png" alt="dude face" width="48">
                </picture>   
                    <ul class="feedback__dude-list list">
                            <li class="feedback__dude-name">Sumith Shah</li>
                            <li class="feedback__dude-who">Some Dude</li>
                        </ul>
                </div>
            </li>
            <li class="feedback__item list">
                <div class="feedback__rating">
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                    <svg class="feedback__icon" width="17" height="16">
                        <use href="/src/images/customers-desctop/symbol-defs.svg#icon-star"></use>
                    </svg>
                </div>
                <p class="feedback__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
                </p>
                <div class="feedback__dude">
                    <picture>
                        <source srcset="./images/customers-desctop/dude-desctop2-1x.png 1x, ./images/customers-desctop/dude-desctop2-2x.png 2x"
                        media="(min-width: 1200px)">
                        <source srcset="./images/customers-tablet/dude-tablet2-1x.png 1x, ./images/customers-tablet/dude-tablet2-2x.png 2x"
                        media="(min-width: 768px)">
                        <source srcset="./images/customers-mobile/dude-mobile2-1x.png 1x, ./images/customers-mobile/dude-mobile2-2x.png 2x"
                        media="(min-width: 320px)">
                    <img class=" feedback__img" src="./images/customers-mobile/dude-mobile2-1x.png" alt="dude face">
                </picture>    
                    <ul class="feedback__dude-list list">
                            <li class="feedback__dude-name">Sumith Shah</li>
                            <li class="feedback__dude-who">Some Dude</li>
                        </ul>
                </div>
            </li>
        </ul>
        
    </div>
</section>