<section class="castomerSay">
    <div class="castomer">
        <h2 class="castomer__title">What our Customers Say</h2>
        <p class="castomer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="feedback">
            <li class=" feedback__item">
                <div class="feedback__rating"></div>
                <p class="feedback__text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”
                </p>
                <div class="feedback__dude">
                    <!-- <img class=" feedback__img" src="" alt=""> -->
                        <ul class="feedback__dude-list">
                            <li class="feedback__dude-name">Sumith Shah</li>
                            <li class="feedback__dude-name">Some Dude</li>
                        </ul>
                </div>
            </li>
            <li class="feedback__item">
                <div class="feedback__rating"></div>
                <p class="feedback__text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”
                </p>
                <div class="feedback__dude">
                    <!-- <img class=" feedback__img" src="" alt=""> -->
                        <ul class="feedback__dude-list">
                            <li class="feedback__dude-name">Sumith Shah</li>
                            <li class="feedback__dude-name">Some Dude</li>
                        </ul>
                </div>
            </li>
        </ul>
    </div>
</section>