<div class="container header__container">
  <a class="logo__link" href="#header">
    <svg class="logo__icon" width="66" height="52">
      <use href="./images/header-svg.svg#icon-logo"></use>
    </svg>
  </a>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#header">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#hero">About</a></li>
    <li class="menu__item">
      <a class="menu__link" href="#offerings">Service</a>
    </li>
    <li class="menu__item"><a class="menu__link" href="#favorites">Menu</a></li>
    <li class="menu__item">
      <a class="menu__link" href="#subscribe">Contact</a>
    </li>
  </ul>

  <button
    type="button"
    class="button__order"
    aria-label="Do order"
    data-open-modal
  >
    Order Now
  </button>

  <button
    type="button"
    class="menu__toggle js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="menu__icon" width="28" height="28">
      <use href="./images/header-svg.svg#icon-burger"></use>
    </svg>
  </button>
  <div class="menu__container js-menu-container" id="mobile-menu">
    <button type="button" class="menu__toggle js-close-menu button__close">
      <svg class="mobile__icon" width="24" height="24" aria-label="Mobile menu">
        <use
          class="icon__close"
          href="./images/header-svg.svg#icon-close"
        ></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#header">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#hero">About</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#offerings">Service</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#favorites">Menu</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#subscribe">Contact</a>
      </li>
    </ul>
  </div>
</div>
