<div class="backdrop is__hidden" data-backdrop>
  <div class="modal">
    <button
      data-close-modal
      type="button"
      aria-label="Close button"
      class="modal__close"
    >
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/header-svg.svg#icon-close"></use>
      </svg>
    </button>
      <h2 class="modal__title">Order Form</h2>
      <form class="form">
        <ul class="form__list">
          <li class="form__item">
            <label class="form__label" for="name">Name
           
              <input
                class="form__input"
                type="text"
                name="name"
                id="name"
                placeholder="Your name"
                required 
                minlength="3"
                maxlength="25"
                title="The name must be between 3 and 25 characters"
              />
            <div class="form__warning">The name must be between 3 and 25 characters</div>
        </label>
          </li>
          <li class="form__item">
            <label class="form__label" for="phone">Phone number

              <input
                class="form__input"
                type="tel"
                name="phone"
                id="phone"
                placeholder="+38(0_ _) _ _ _   _ _   _ _"
                pattern="[0-9]{10}"
                required 
                title="This phone must be in the format 099 000 00 00"
              />
            <div class="form__warning">This phone must be in the format  099 000 00 00</div>
            </label>
          </li>
          <li class="form__item">
            <label class="form__label" for="email">E-mail

              <input
                class="form__input"
                type="email"
                name="email"
                id="email"
                
                placeholder="example@gmail.com"
                required 
                title="Please enter a valid email address"
              />
            <div class="form__warning">Please enter a valid email address</div>
            </label>
          </li>
        </ul>
        <button class="form__send" type="submit" aria-label="Send data">
          Send
        </button>
      </form>
    </button>
  </div>
</div>
