<section id="subscribe" class="subscribe section">
   
    <div class="subscribe__conteiner container">
        <div class="banan">
           <picture>
            <source srcset="./images/customers-desctop/banan-desctop1x.png 1x, ./images/customers-desctop/banan-desctop2x.png 2x"
                 media="(min-width: 1279px)">
                 <source srcset="./images/customers-tablet/banan-tablet1x.png 1x, ./images/customers-tablet/banan-tablet2x.png 2x"
                 media="(min-width: 768px)">
                 <source srcset="./images/customers-mobile/banan-mobile1x.png 1x, ./images/customers-mobile/banan-mobile2x.png 2x"
                 media="(min-width: 320px)">
            <img class="banan__img" src="./images/customers-mobile/banan-mobile1x.png" alt="">
           </picture>
        </div>
        <div class="subcribe-conten">
            <h2 class="subcribe-conten__title">Subscribe To Get Special Offers</h2>
            <p class="subcribe-conten__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            </p>
            <div class="form__subscribe">
              <label for="form__label">
            <input class="form__input subscribe-form"
          type="email" placeholder="Enter your email" required title="Not a valid email address (example@email.com)">
        <div class="form__warning">Not a valid email address (example@email.com)</div>
        </label>
          <div class="button-form" >
            <a href="#" class="button-link">
          <button class="form__button">Subscribe</button></a>
        </div>
        </div>
        </div>
    </div>

</section>