<section class="section-subscribe">
    <div class="subscribe-conteiner">
        <div class="subcribe-conten">
            <h2 class="subcribe-conten__title">Subscribe To Get Special Offers</h2>
            <p class="subcribe-conten__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            </p>
            <input class="subcribe-conten__input"
          type="email" placeholder="Enter your email">
          <button class="subscribe-button">Subscribe</button>
        </div>
        <div class="subcribe-image">
            <!-- <img src="" alt=""> -->
        </div>
    </div>

</section>