%title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 42px;

    line-height: 1.19;
  }
}

@mixin font-size($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
